<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
.parent{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

</style>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">X</a>
  <a href="#food" onclick="w3_close()" class="w3-bar-item w3-button">Accesorios</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">Perfumes</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <div class="w3-right w3-padding-16">
        <i class="fa fa-heart"></i>
    </div>
    <div class="w3-center w3-padding-16">ikaro tendencias</div>
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
<!-- <form action="">-->
<div style="display: flex; justify-content: space-evenly;">
<div>
<label for="urlTumblr">Foto:</label>
<input type="text" id="urlTumblr" name="urlTumblr">
<button id="cargar">Cargar imagen</button>
<br>
<br>
<label for="producto">Producto:</label>
<select name="producto">
    <option value="B" selected> Bisutería </option>
    <option value="P" > Perfumes</option>
</select><br><br>

<label for="material">Material:</label>
<select name="material">
    <option value="A" selected> Acero </option>
    <option value="P" > Plata</option>
    <option value="O" > Oro golfee</option>
    <option value="D" > Dulce</option>
    <option value="L" > Ligero</option>
</select><br><br>
<label for="nombre">Descripcion [perfume - (E)speciales ~ (C)otidiano ]:</label>
<input type="text" id="nombre" name="nombre"><br><br>
<label for="Tipo">Tipo:</label>
<select name="Tipo">
    <option value="M" selected> Masculino </option>
    <option value="F" > Femenino</option>
    <option value="J" > Juego</option>
    <option value="C" > Collar</option>
    <option value="P" > Pulsera</option>
    <option value="A" > Aretes</option>
    <option value="CA" > Candongas</option>

</select><br><br>
</div>
<div style="width: 45vw;">
    <img style="width: 100%;" src="" id="previsualizacion">
</div>
</div>


<!-- </form>-->

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

document.getElementById("cargar").addEventListener("click", e => {
  let imageInput = document.getElementById("urlTumblr");
  let image = document.getElementById("previsualizacion");
  if (imageInput.value) image.src = imageInput.value;
});

</script>

</body>
</html>

    
 